
// Palette Colori Dark Mode
$background-dark: #12181b;
$background-light: #1e2428;
$text-primary: #e2e2e2;
$text-secondary: #a0a0a0;
$accent-color: #00f5c4;
$border-color: #333a3d;

// Font
$font-principale: 'Poppins', sans-serif;